<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Divam Shah. It gives user live weather data. It uses mapbox and weatherstack to generate data.  </p>
        <img class="portrait" src="/img/scenary.jpeg" />
    </div>
    {{>footer}}
</body>

</html>